.stopwatch {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.time {
  display: block;
  font-size: 50px;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  border: 1px solid #40a9ff;
  border-radius: 12px;
  background: #69c0ff;
  cursor: pointer;
}

.button + .button {
    margin-left: 14px;
}